.root
{
    -fx-background-image: url("../images/sneak_bakkground.jpg");
}

.infoLabel
{
    -fx-font-family: "Comic Sans MS";
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-alignment: center;
}